<div class="container mt-5">
    <h1>Painel Administrativo</h1>

    <div class="d-grid gap-2 col-4 mx-auto position-absolute top-50 start-50 translate-middle">
        <a href="/admin/categorias" class="btn btn-primary btn-lg">Categorias</a>
        <a href="/admin/postagens" class="btn btn-danger btn-lg">Postagens</a>
    </div>
</div>